@font-face {
    font-family: "Montserrat Alternates";
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Geograph";
    src: url('../fonts/Geograph/Geograph-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Geograph";
    src: url('../fonts/Geograph/Geograph-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}

html {
    --main-color: #fcb941;
    --medium-main-color: #b48132;
    --dark-main-color: #6b4922;
    --dark-gray-color: #333333;
}

body {
    margin: 0;
    padding: 0;
}

/********************************** HERO COMMON **********************************/

.header {
    padding: 11.25px 56.25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header .logo img {
    height: 67.5px;
    filter: drop-shadow(1px 1px 1px black);
}

.header .logo h3 {
    margin: 0;
    margin-left: 26.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.header .logo h3 span {
    color: var(--main-color);
}

.header .nav {
    display: inline-flex;
    align-items: center;
}

.header .nav .nav-link {
    margin-left: 48.75px;
    font-family: 'Montserrat Alternates';
    text-transform: uppercase;
    font-size: 23.25px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    transition: all .3s;
}

.header .nav .nav-link:hover {
    color: var(--main-color);
}

.header .nav .active {
    border-bottom: 3px solid var(--main-color);
}

/********************************** HERO INDEX **********************************/

.hero-index {
    height: 100vh;
    background-image: url(../img/background-home.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-index .text h1 {
    margin: 0;
    position: absolute;
    left: 56.25px;
    bottom: 191.25px;
    font-family: 'Geograph';
    text-transform: uppercase;
    font-size: 57px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.hero-index .button {
    position: absolute;
    left: 56.25px;
    bottom: 86.25px;
}

/********************************** HERO ROUTES **********************************/

.hero-routes {
    height: 50vh;
    background-image: url(../img/background-routes.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** HERO CONSERVATION **********************************/

.hero-conservation {
    height: 50vh;
    background-image: url(../img/background-conservation.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

/********************************** HERO CONTACT **********************************/

.hero-contact {
    height: 50vh;
    background-image: url(../img/background-contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** ABOUT **********************************/

.about {
    display: flex;
}

.about-1 {
    padding: 90px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-1 .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.about-1 .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.about-1 p {
    margin: 0;
    max-width: 465px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.about-1 .logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-1 .logo-1 {
    display: inline-flex;
    align-items: center;
}

.about-1 .logo-1 img {
    height: 86.25px;
}

.about-1 .logo-1 h3 {
    margin: 0;
    margin-left: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: var(--main-color);
    text-shadow: 1px 1px 1px black;
}

.about-1 .logo-2 img {
    height: 86.25px;
}

.about-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-2 .upper-half {
    display: inline-flex;
}

.about-2 .lion {
    width: 37.90%;
    height: 50vh;
    background-image: url(../img/about-us-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .col {
    width: 62.10%;
    display: flex;
    flex-direction: column;
}

.about-2 .row {
    display: inline-flex;
}

.about-2 .rhino {
    width: 42.07%;
    height: 25vh;
    background-image: url(../img/about-us-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .leopard {
    width: 57.93%;
    height: 25vh;
    background-image: url(../img/about-us-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .buffalo {
    width: 36.06%;
    height: 25vh;
    background-image: url(../img/about-us-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .elephant {
    width: 63.94%;
    height: 25vh;
    background-image: url(../img/about-us-5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .game-drive {
    height: 50vh;
    background-image: url(../img/about-us-6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** LINK PANELS **********************************/

.link-panels .link-panel-1 {
    height: 33vh;
    background-image: url(../img/link-panel-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .link-panel-2 {
    height: 33vh;
    background-image: url(../img/link-panel-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .link-panel-3 {
    height: 33vh;
    background-image: url(../img/link-panel-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .body-panel-1, .link-panels .body-panel-2, .link-panels .body-panel-3 {
    width: 50%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-panels .body-panel-2 {
    margin-left: 50%;
}

.link-panels h2 {
    margin: 0;
    margin-bottom: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: white;
    text-align: center;
}

/********************************** SERVICES **********************************/

.services {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.services .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.services p {
    margin: 0;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.services .tarjets {
    display: inline-flex;
    justify-content: space-evenly;
}

.services .tarjet {
    width: 307.5px;
    height: 408.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.services .sub-title {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 20.25px;
    color: black;
    border-bottom: 3px solid var(--main-color);
}

.services .tarjets p {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 240px;
    font-weight: 300;
}

.services .houses, .services .binoculars, .services .people, .services .cup-hot {
    filter: invert(84%) sepia(15%) saturate(2096%) hue-rotate(335deg) brightness(98%) contrast(101%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.services .houses {
    width: 60px;
    height: 60px;
    background-image: url(../img/houses.svg);
}

.services .binoculars {
    width: 60px;
    height: 60px;
    background-image: url(../img/binoculars.svg);
}

.services .people {
    width: 70px;
    height: 60px;
    background-image: url(../img/people.svg);
}

.services .cup-hot {
    width: 60px;
    height: 60px;
    background-image: url(../img/cup-hot.svg);
}

/********************************** FACILITIES **********************************/

.facilities .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.facilities .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.facilities .background-facilities {
    height: 75vh;
    background-image: url(../img/background-facilities.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.facilities .background-facilities .panel {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 336px;
    height: 219.1px;
    background-color: var(--dark-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.facilities .panel .panel-button {
    margin-left: auto;
    margin-right: auto;
}

.facilities .panel .row {
    display: inline-flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.facilities .panel .col {
    display: flex;
    flex-direction: column;
}

.facilities .panel .item {
    margin: 5px 0px;
    display: inline-flex;
}

.facilities .people, .facilities .door-closed, .facilities .router, .facilities .car-front, .facilities .signpost-split, .facilities .geo-alt {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.facilities .people {
    background-image: url(../img/people.svg);
}

.facilities .door-closed {
    background-image: url(../img/door-closed.svg);
}

.facilities .router {
    background-image: url(../img/router.svg);
}

.facilities .car-front {
    background-image: url(../img/car-front.svg);
}

.facilities .signpost-split {
    background-image: url(../img/signpost-split.svg);
}

.facilities .geo-alt {
    background-image: url(../img/geo-alt.svg);
}

.facilities .panel-footer {
    width: 100%;
    height: 25vh;
    background-color: var(--dark-gray-color);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.facilities .panel-footer .col {
    max-width: 45%;
}

.facilities .panel-footer ul {
    margin: 0px;
    padding-inline-start: 20px;
}

.facilities .panel-footer ul li {
    margin: 0px;
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 300;
    color: white;
}

/********************************** FACILITIES CAROUSEL **********************************/

.facilities-carousel .slider {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facilities-carousel .slider .chevron-left {
    margin-left: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-left.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facilities-carousel .slider .chevron-right {
    margin-right: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facilities-carousel .slider-nav {
    width: 100%;
    height: 25vh;
    display: flex;
    overflow: hidden;
    background-color: var(--dark-gray-color);
}

.facilities-carousel .slider-nav .item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.facilities-carousel .slider-nav .active {
    background: none;
    box-shadow: inset 0 0 10px black;
}

.facilities-carousel .slider-nav .item .image {
    filter: blur(2px);
}

.facilities-carousel .slider-nav .active .image {
    filter: unset;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}

.facilities-carousel .slider-nav .position {
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}

.facilities-carousel .slider-nav .active .position {
    width: 50px;
    height: 5px;
    background-color: white;
}

.facilities-carousel .slider-nav .image {
    width: 85%;
    height: 75%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.facilities-carousel .image-1 {
    background-image: url(../img/facilities-1.jpg);
}

.facilities-carousel .image-2 {
    background-image: url(../img/facilities-2.jpg);
}

.facilities-carousel .image-3 {
    background-image: url(../img/facilities-3.jpg);
}

.facilities-carousel .image-4 {
    background-image: url(../img/facilities-4.jpg);
}

/********************************** EXTRA SERVICES **********************************/

.extra-services .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.extra-services .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.extra-services .background-extra-services {
    height: 75vh;
    background-image: url(../img/background-extra-services.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.extra-services .background-extra-services .panel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 336px;
    height: 219.1px;
    background-color: var(--dark-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.extra-services .panel .panel-button {
    margin-left: auto;
    margin-right: auto;
}

.extra-services .panel .row {
    display: inline-flex;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.extra-services .panel .col {
    display: flex;
    flex-direction: column;
}

.extra-services .panel .item {
    margin: 5px 0px;
    display: inline-flex;
}

.extra-services .cup-hot, .extra-services .droplet, .extra-services .water, .extra-services .egg-fried, .extra-services .moon-stars, .extra-services .arrow-through-heart {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.extra-services .cup-hot {
    background-image: url(../img/cup-hot.svg);
}

.extra-services .droplet {
    background-image: url(../img/droplet.svg);
}

.extra-services .water {
    background-image: url(../img/water.svg);
}

.extra-services .egg-fried {
    background-image: url(../img/egg-fried.svg);
}

.extra-services .moon-stars {
    background-image: url(../img/moon-stars.svg);
}

.extra-services .arrow-through-heart {
    background-image: url(../img/arrow-through-heart.svg);
}

.extra-services .panel-footer {
    width: 100%;
    height: 25vh;
    background-color: var(--dark-gray-color);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.extra-services .panel-footer .col {
    max-width: 45%;
}

.extra-services .panel-footer ul {
    margin: 0px;
    padding-inline-start: 20px;
}

.extra-services .panel-footer ul li {
    margin: 0px;
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 300;
    color: white;
}

/********************************** EXTRA SERVICES CAROUSEL **********************************/

.extra-services-carousel .slider {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra-services-carousel .slider .chevron-left {
    margin-left: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-left.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.extra-services-carousel .slider .chevron-right {
    margin-right: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.extra-services-carousel .slider-nav {
    width: 100%;
    height: 25vh;
    display: flex;
    overflow: hidden;
    background-color: var(--dark-gray-color);
}

.extra-services-carousel .slider-nav .item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.extra-services-carousel .slider-nav .active {
    background: none;
    box-shadow: inset 0 0 10px black;
}

.extra-services-carousel .slider-nav .item .image {
    filter: blur(2px);
}

.extra-services-carousel .slider-nav .active .image {
    filter: unset;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}

.extra-services-carousel .slider-nav .position {
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}

.extra-services-carousel .slider-nav .active .position {
    width: 50px;
    height: 5px;
    background-color: white;
}

.extra-services-carousel .slider-nav .image {
    width: 85%;
    height: 75%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.extra-services-carousel .image-1 {
    background-image: url(../img/extra-services-1.jpg);
}

.extra-services-carousel .image-2 {
    background-image: url(../img/extra-services-2.jpg);
}

.extra-services-carousel .image-3 {
    background-image: url(../img/extra-services-3.jpg);
}

.extra-services-carousel .image-4 {
    background-image: url(../img/extra-services-4.jpg);
}

/********************************** HISTORY **********************************/

.history .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.history .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.history .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.history .text-1, .history .text-2, .history .text-3 {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.history .image-1, .history .image-2, .history .image-3 {
    width: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.history .image-1 {
    height: 600px;
    background-image: url(../img/history-1.jpg);
}

.history .image-2 {
    height: 250px;
    background-image: url(../img/history-2.jpg);
}

.history .image-3 {
    height: 250px;
    background-image: url(../img/history-3.jpg);
}

/********************************** EXPLORE **********************************/

.explore {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.explore .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.explore .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.explore p {
    margin: 0;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.explore .tarjets {
    display: inline-flex;
    justify-content: space-evenly;
}

.explore .tarjet {
    min-width: 335px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.explore .tarjet .balloon, .explore .tarjet .binoculars, .explore .tarjet .people {
    filter: invert(70%) sepia(50%) saturate(560%) hue-rotate(355deg) brightness(100%) contrast(98%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.explore .tarjet .balloon {
    width: 60px;
    height: 60px;
    background-image: url(../img/balloon.svg);
}

.explore .tarjet .binoculars {
    width: 60px;
    height: 60px;
    background-image: url(../img/binoculars.svg);
}

.explore .tarjet .people {
    width: 70px;
    height: 60px;
    background-image: url(../img/people.svg);
}

.explore .sub-title {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 20.25px;
    color: black;
    border-bottom: 3px solid var(--main-color);
}

.explore .tarjets ul {
    margin: 0px 20px;
    padding-inline-start: 20px;
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 300;
    color: black;
}

.explore .tarjet .row {
    display: flex;
    margin: 0px 20px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 300;
    color: var(--dark-gray-color);
}

.explore .tarjet .col {
    display: flex;
    flex-direction: column;
}

.explore .tarjet .item {
    margin: 5px 10px;
    display: inline-flex;
}

.explore .item .people, .explore .item .clock-history, .explore .item .car-front, .explore .item .balloon, .explore .item .binoculars {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: invert(11%) sepia(12%) saturate(22%) hue-rotate(32deg) brightness(97%) contrast(78%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.explore .item .people {
    background-image: url(../img/people.svg);
}

.explore .item .clock-history {
    background-image: url(../img/clock-history.svg);
}

.explore .item .car-front {
    background-image: url(../img/car-front.svg);
}

.explore .item .balloon {
    background-image: url(../img/balloon.svg);
}

.explore .item .binoculars {
    background-image: url(../img/binoculars.svg);
}

/********************************** ANIMALS **********************************/

.animals .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.animals .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.animals .panel-animals {
    display: flex;
}

.animals .nav-list {
    width: 50%;
    height: 100vh;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
}

.animals .nav-list::-webkit-scrollbar {
    width: 11.25px;
}
 
.animals .nav-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
 
.animals .nav-list::-webkit-scrollbar-thumb {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.animals .nav-list .item {
    margin-left: 15%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    border-bottom: 1px solid rgba(109, 74, 34, 0.5);
    cursor: pointer;
    direction: ltr;
}

.animals .nav-list .item * {
    opacity: .5;
    transition: all .3s;
}

.animals .nav-list .item:hover * {
    opacity: 1;
}

.animals .nav-list .active {
    margin-left: 5%;
}

.animals .nav-list .active * {
    opacity: 1;
}

.animals .nav-list .item h2 {
    margin: 35px 0px;
    margin-left: 50px;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: white;
}

.animals .icon-leopard, .animals .icon-lion, .animals .icon-rhino, .animals .icon-elephant, .animals .icon-buffalo, .animals .icon-giraffe {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.animals .icon-leopard {
    width: 60px;
    height: 70px;
    margin-right: 65px;
    background-image: url(../img/icon-leopard.png);
}

.animals .icon-lion {
    width: 55px;
    height: 85px;
    margin-right: 68.5px;
    background-image: url(../img/icon-lion.png);
}

.animals .icon-rhino {
    width: 60px;
    height: 70px;
    margin-right: 65px;
    background-image: url(../img/icon-rhino.png);
}

.animals .icon-elephant {
    width: 70px;
    height: 70px;
    margin-right: 60px;
    background-image: url(../img/icon-elephant.png);
}

.animals .icon-buffalo {
    width: 90px;
    height: 60px;
    margin-right: 50px;
    background-image: url(../img/icon-buffalo.png);
}

.animals .icon-giraffe {
    width: 60px;
    height: 85px;
    margin-right: 65px;
    background-image: url(../img/icon-giraffe.png);
}

.animals .info-animal {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.animals .animal-image {
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.animals .image-1 {
    background-image: url(../img/animal-1.jpg);
}

.animals .image-2 {
    background-image: url(../img/animal-2.jpg);
}

.animals .image-3 {
    background-image: url(../img/animal-3.jpg);
}

.animals .image-4 {
    background-image: url(../img/animal-4.jpg);
}

.animals .image-5 {
    background-image: url(../img/animal-5.jpg);
}

.animals .image-6 {
    background-image: url(../img/animal-6.jpg);
}

.animals .body-text {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.animals .body-text .animal-text {
    width: 85%;
    height: 75%;
    padding-right: 5%;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
    background-color: white;
    border: unset;
    resize: none;
    overflow-y: scroll;
}

.animals .body-text .animal-text:focus {
    outline: none !important;
}

.animals .body-text .animal-text::-webkit-scrollbar {
    width: 11.25px;
}
 
.animals .body-text .animal-text::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
 
.animals .body-text .animal-text::-webkit-scrollbar-thumb {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/********************************** ROUTE 1 **********************************/

.route-1 .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.route-1 .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.route-1 .slider {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.route-1 .slider .chevron-left {
    margin-left: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-left.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-1 .slider .chevron-right {
    margin-right: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-1 .slider .button {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.route-1 .slider-nav {
    height: 25vh;
    width: 100%;
    display: flex;
    background-color: var(--dark-gray-color);
}

.route-1 .slider-nav .item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.route-1 .slider-nav .item .position {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: var(--main-color);
}

.route-1 .slider-nav .active .position {
    width: 112.5px;
}

.route-1 .slider-nav .item .body-item {
    width: 100%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.route-1 .slider-nav .item:last-child .body-item{
    border-right: none;
}

.route-1 .slider-nav .item .body-item * {
    opacity: .5;
    transition: all .3s;
}

.route-1 .slider-nav .item:hover .body-item * {
    opacity: 1;
}

.route-1 .slider-nav .active .body-item * {
    opacity: 1;
}

.route-1 .body-item .subtitle {
    max-width: 300px;
    font-family: 'Montserrat Alternates';
    font-size: 22.5px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.route-1 .body-item .description {
    max-width: 300px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.route-1 .image-1 {
    background-image: url(../img/route-1-1.jpg);
}

.route-1 .image-2 {
    background-image: url(../img/route-1-2.jpg);
}

.route-1 .image-3 {
    background-image: url(../img/route-1-3.jpg);
}

.route-1 .image-4 {
    background-image: url(../img/route-1-4.jpg);
}

.route-1 .route-info {
    display: flex;
}

.route-1 .route-info .text {
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-1 .route-info .text p {
    width: 85%;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.route-1 .route-info .location {
    height: 50vh;
    width: 50%;
    background-color: red;
}

/********************************** ROUTE 2 **********************************/

.route-2 .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.route-2 .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.route-2 .slider {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.route-2 .slider .chevron-left {
    margin-left: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-left.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-2 .slider .chevron-right {
    margin-right: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-2 .slider .button {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.route-2 .slider-nav {
    height: 25vh;
    width: 100%;
    display: flex;
    background-color: var(--dark-gray-color);
}

.route-2 .slider-nav .item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.route-2 .slider-nav .item .position {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: var(--main-color);
}

.route-2 .slider-nav .active .position {
    width: 112.5px;
}

.route-2 .slider-nav .item .body-item {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.route-2 .slider-nav .item:last-child .body-item{
    border-right: none;
}

.route-2 .slider-nav .item .body-item * {
    opacity: .5;
    transition: all .3s;
}

.route-2 .slider-nav .item:hover .body-item * {
    opacity: 1;
}

.route-2 .slider-nav .active .body-item * {
    opacity: 1;
}

.route-2 .body-item .subtitle {
    max-width: 300px;
    font-family: 'Montserrat Alternates';
    font-size: 22.5px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.route-2 .body-item .description {
    max-width: 300px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.route-2 .image-1 {
    background-image: url(../img/route-2-1.jpg);
}

.route-2 .image-2 {
    background-image: url(../img/route-2-2.jpg);
}

.route-2 .image-3 {
    background-image: url(../img/route-2-3.jpg);
}

.route-2 .image-4 {
    background-image: url(../img/route-2-4.jpg);
}

.route-2 .route-info {
    display: flex;
}

.route-2 .route-info .text {
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-2 .route-info .text p {
    width: 85%;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.route-2 .route-info .location {
    height: 50vh;
    width: 50%;
    background-color: red;
}

/********************************** ROUTE 3 **********************************/

.route-3 .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.route-3 .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.route-3 .slider {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.route-3 .slider .chevron-left {
    margin-left: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-left.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-3 .slider .chevron-right {
    margin-right: 30px;
    width: 25px;
    height: 40px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px black);
    background-image: url(../img/chevron-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.route-3 .slider .button {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.route-3 .slider-nav {
    height: 25vh;
    width: 100%;
    display: flex;
    background-color: var(--dark-gray-color);
}

.route-3 .slider-nav .item {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.route-3 .slider-nav .item .position {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: var(--main-color);
}

.route-3 .slider-nav .active .position {
    width: 112.5px;
}

.route-3 .slider-nav .item .body-item {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
}

.route-3 .slider-nav .item:last-child .body-item{
    border-right: none;
}

.route-3 .slider-nav .item .body-item * {
    opacity: .5;
    transition: all .3s;
}

.route-3 .slider-nav .item:hover .body-item * {
    opacity: 1;
}

.route-3 .slider-nav .active .body-item * {
    opacity: 1;
}

.route-3 .body-item .subtitle {
    max-width: 300px;
    font-family: 'Montserrat Alternates';
    font-size: 22.5px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.route-3 .body-item .description {
    max-width: 300px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.route-3 .image-1 {
    background-image: url(../img/route-3-1.jpg);
}

.route-3 .image-2 {
    background-image: url(../img/route-3-2.jpg);
}

.route-3 .image-3 {
    background-image: url(../img/route-3-3.jpg);
}

.route-3 .image-4 {
    background-image: url(../img/route-3-4.jpg);
}

.route-3 .route-info {
    display: flex;
}

.route-3 .route-info .text {
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-3 .route-info .text p {
    width: 85%;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.route-3 .route-info .location {
    height: 50vh;
    width: 50%;
    background-color: red;
}

/********************************** VISION **********************************/

.vision .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.vision .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.vision .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.vision .text {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.vision .quote {
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 200;
    font-style: italic;
    color: black;
    text-align: justify;
}

.vision .image {
    width: 35%;
    height: 585px;
    background-image: url(../img/conservation-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** SERVICES **********************************/

.tlr {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tlr .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.tlr .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.tlr .text {
    margin: 0;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.tlr .tarjets {
    display: flex;
    flex-direction: column;
}

.tlr .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.tlr .tarjet {
    display: inline-flex;
    align-items: center;
}

.tlr .tarjet p {
    max-width: 355px;
    margin-left: 30px;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.tlr .conservation {
    width: 150px;
    height: 150px;
    background-image: url(../img/conservation.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tlr .culture {
    width: 150px;
    height: 150px;
    background-image: url(../img/culture.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tlr .community {
    width: 150px;
    height: 150px;
    background-image: url(../img/community.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tlr .commerce {
    width: 150px;
    height: 150px;
    background-image: url(../img/commerce.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** CONTRIBUTION **********************************/

.contribution {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contribution .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.contribution .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.contribution .tarjets {
    display: inline-flex;
    justify-content: space-evenly;
}

.contribution .tarjet {
    width: 325px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contribution .icon-percentage {
    display: inline-flex;
    align-items: center;
}

.contribution .percentage {
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    font-weight: 700;
    color: var(--main-color);
}

.contribution .sub-title {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 20.25px;
    color: black;
    border-bottom: 3px solid var(--main-color);
}

.contribution .tarjets p {
    margin: 0px;
    max-width: 240px;
    font-weight: 300;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.contribution .globe-europe-africa, .contribution .geo-alt, .contribution .people {
    filter: invert(84%) sepia(15%) saturate(2096%) hue-rotate(335deg) brightness(98%) contrast(101%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contribution .globe-europe-africa {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background-image: url(../img/globe-europe-africa.svg);
}

.contribution .geo-alt {
    margin-right: 5px;
    width: 60px;
    height: 60px;
    background-image: url(../img/geo-alt.svg);
}

.contribution .people {
    margin-right: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../img/people.svg);
}

/********************************** CURRENT SCOPE **********************************/

.current-scope .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.current-scope .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.current-scope .background-current-scope {
    height: 50vh;
    background-image: url(../img/background-current-scope.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.current-scope .content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.current-scope .item {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 1px black;
}

.current-scope .item .number {
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.current-scope .item .text {
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 300;
    color: white;
    text-align: center
}

/********************************** PARTNERS **********************************/

.partners {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.partners .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.partners .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.partners .list {
    display: inline-flex;
    justify-content: space-evenly;
}

.partners .partner-1 {
    width: 180px;
    height: 85px;
    background-image: url(../img/partner-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.partners .partner-2 {
    width: 150px;
    height: 85px;
    background-image: url(../img/partner-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.partners .partner-3 {
    width: 110px;
    height: 85px;
    background-image: url(../img/partner-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.partners .partner-4 {
    width: 250px;
    height: 85px;
    background-image: url(../img/partner-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** GETTING HERE **********************************/

.getting-here .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.getting-here .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.getting-here .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.getting-here .text-1, .getting-here .text-2 {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.getting-here .text-2 a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: all .3s;
}

.getting-here .text-2 a:hover {
    color: var(--main-color);
}

.getting-here .image-1 {
    width: 40%;
    height: 520px;
    background-image: url(../img/getting-here-1.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.getting-here .image-2 {
    width: 40%;
    height: 300px;
    background-image: url(../img/getting-here-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** FOOTER **********************************/

.footer {
    padding: 71.25px 0px;
    background-color: var(--dark-gray-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .col-1 {
    text-align: center;
}

.footer .logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.footer .logo img {
    height: 86.25px;
}

.footer .logo h3 {
    margin: 0;
    margin-left: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: var(--main-color);
    text-shadow: 1px 1px 1px black;
}

.footer .copyright {
    margin-top: 48.75px;
    font-family: 'Geograph';
    font-size: 16.5px;
    color: white;
}

.footer .col-2, .footer .col-3, .footer .col-4 {
    font-family: 'Geograph';
    font-size: 18.75px;
    color: white;
}

.footer .title {
    font-weight: 700;
}

.footer ul {
    margin: 0px;
    margin-top: 22.5px;
    padding-inline-start: 20px;
}

.footer ul li {
    margin: 0px;
    margin-top: 18.75px;
}

.footer p {
    margin: 0px;
    margin-top: 18.75px;
    max-width: 266.25px;
    text-align: justify;
}

.footer .footer-link {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

.footer .footer-link:hover {
    color: var(--main-color);
}

.footer .mt-18{
    margin-top: 18.75px;
}

.footer .follow {
    display: flex;
    flex-direction: column;
}

.footer .social-networks {
    margin-top: 18.75px;
    display: inline-flex;
    align-items: center;
}

.footer .instagram {
    margin-right: 11.25px;
    width: 26.25px;
    height: 26.25px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-image: url(../img/instagram.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.footer .footer-link:hover .instagram {
    filter: invert(70%) sepia(50%) saturate(560%) hue-rotate(355deg) brightness(100%) contrast(98%);
}

.footer .twitter {
    margin-right: 11.25px;
    width: 26.25px;
    height: 26.25px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-image: url(../img/twitter.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.footer .footer-link:hover .twitter {
    filter: invert(70%) sepia(50%) saturate(560%) hue-rotate(355deg) brightness(100%) contrast(98%);
}

.footer .mt-41 {
    margin-top: 41.25px;
}

/********************************** ELEMENTS **********************************/

/**************** BUTTON ****************/

.button {
    height: 63.75px;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    text-shadow: 1px 1px 1px var(--dark-main-color);
    text-decoration: none;
    transition: all .3s;
}

.button:hover {
    background-color: var(--medium-main-color);
}

.button h4 {
    margin: 0;
    margin-left: 37.5px;
    font-family: 'Geograph';
    text-transform: uppercase;
    font-size: 22.5px;
    color: white;
    text-shadow: 1px 1px 1px var(--dark-main-color);
}

.button .circle-arrow-right {
    margin-left: 11.25px;
    margin-right: 37.5px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px var(--dark-main-color));
    background-image: url(../img/circle-arrow-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}