@font-face {
    font-family: "Montserrat Alternates";
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat Alternates";
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Geograph";
    src: url('../fonts/Geograph/Geograph-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Geograph";
    src: url('../fonts/Geograph/Geograph-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}

html {
    --main-color: #fcb941;
    --medium-main-color: #b48132;
    --dark-main-color: #6b4922;
    --dark-gray-color: #333333;
}

body {
    margin: 0;
    padding: 0;
}

/********************************** HERO COMMON **********************************/

.header {
    padding: 11.25px 56.25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header .logo img {
    height: 67.5px;
    filter: drop-shadow(1px 1px 1px black);
}

.header .logo h3 {
    margin: 0;
    margin-left: 26.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.header .logo h3 span {
    color: var(--main-color);
}

.header .nav {
    display: inline-flex;
    align-items: center;
}

.header .nav .nav-link {
    margin-left: 48.75px;
    font-family: 'Montserrat Alternates';
    text-transform: uppercase;
    font-size: 23.25px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    transition: all .3s;
}

.header .nav .nav-link:hover {
    color: var(--main-color);
}

.header .nav .active {
    border-bottom: 3px solid var(--main-color);
}

/********************************** HERO INDEX **********************************/

.hero-index {
    height: 100vh;
    background-image: url(../img/background-home.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-index .text h1 {
    margin: 0;
    position: absolute;
    left: 56.25px;
    bottom: 191.25px;
    font-family: 'Geograph';
    text-transform: uppercase;
    font-size: 57px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.hero-index .button {
    position: absolute;
    left: 56.25px;
    bottom: 86.25px;
}

/********************************** HERO ROUTES **********************************/

.hero-routes {
    height: 50vh;
    background-image: url(../img/background-routes.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** HERO CONSERVATION **********************************/

.hero-conservation {
    height: 50vh;
    background-image: url(../img/background-conservation.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** HERO CONTACT **********************************/

.hero-contact {
    height: 50vh;
    background-image: url(../img/background-contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** ABOUT **********************************/

.about {
    display: flex;
}

.about-1 {
    padding: 90px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-1 .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.about-1 .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.about-1 p {
    margin: 0;
    max-width: 465px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.about-1 .logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-1 .logo-1 {
    display: inline-flex;
    align-items: center;
}

.about-1 .logo-1 img {
    height: 86.25px;
}

.about-1 .logo-1 h3 {
    margin: 0;
    margin-left: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: var(--main-color);
    text-shadow: 1px 1px 1px black;
}

.about-1 .logo-2 img {
    height: 86.25px;
}

.about-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-2 .upper-half {
    display: inline-flex;
}

.about-2 .lion {
    width: 37.90%;
    height: 50vh;
    background-image: url(../img/about-us-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .col {
    width: 62.10%;
    display: flex;
    flex-direction: column;
}

.about-2 .row {
    display: inline-flex;
}

.about-2 .rhino {
    width: 42.07%;
    height: 25vh;
    background-image: url(../img/about-us-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .leopard {
    width: 57.93%;
    height: 25vh;
    background-image: url(../img/about-us-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .buffalo {
    width: 36.06%;
    height: 25vh;
    background-image: url(../img/about-us-4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .elephant {
    width: 63.94%;
    height: 25vh;
    background-image: url(../img/about-us-5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-2 .game-drive {
    height: 50vh;
    background-image: url(../img/about-us-6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/********************************** LINK PANELS **********************************/

.link-panels .link-panel-1 {
    height: 33vh;
    background-image: url(../img/link-panel-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .link-panel-2 {
    height: 33vh;
    background-image: url(../img/link-panel-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .link-panel-3 {
    height: 33vh;
    background-image: url(../img/link-panel-3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.link-panels .body-panel-1, .link-panels .body-panel-2, .link-panels .body-panel-3 {
    width: 50%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-panels .body-panel-2 {
    margin-left: 50%;
}

.link-panels h2 {
    margin: 0;
    margin-bottom: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: white;
    text-align: center;
}

/********************************** SERVICES **********************************/

.services {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.services .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.services p {
    margin: 0;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins';
    font-size: 18.75px;
    color: black;
    text-align: justify;
}

.services .tarjets {
    display: inline-flex;
    justify-content: space-evenly;
}

.services .tarjet {
    width: 307.5px;
    height: 408.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.services .sub-title {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 20.25px;
    color: black;
    border-bottom: 3px solid var(--main-color);
}

.services .tarjets p {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 240px;
    font-weight: 300;
}

.services .houses, .services .binoculars, .services .people, .services .cup-hot {
    filter: invert(84%) sepia(15%) saturate(2096%) hue-rotate(335deg) brightness(98%) contrast(101%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.services .houses {
    width: 60px;
    height: 60px;
    background-image: url(../img/houses.svg);
}

.services .binoculars {
    width: 60px;
    height: 60px;
    background-image: url(../img/binoculars.svg);
}

.services .people {
    width: 70px;
    height: 60px;
    background-image: url(../img/people.svg);
}

.services .cup-hot {
    width: 60px;
    height: 60px;
    background-image: url(../img/cup-hot.svg);
}

/********************************** FACILITIES **********************************/

.facilities .title {
    padding-bottom: 11.25px;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.facilities .title h2 {
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-size: 45px;
    color: black;
}

.facilities .background-facilities {
    height: 75vh;
    background-image: url(../img/background-facilities.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.facilities .panel-footer {
    height: 25vh;
    background-color: var(--dark-gray-color);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.facilities .panel-footer .col {
    max-width: 45%;
}

.facilities .panel-footer ul {
    margin: 0px;
    padding-inline-start: 20px;
}

.facilities .panel-footer ul li {
    margin: 0px;
    font-family: 'Poppins';
    font-size: 18.75px;
    font-weight: 300;
    color: white;
}

/********************************** FOOTER **********************************/

.footer {
    padding: 71.25px 0px;
    background-color: var(--dark-gray-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .col-1 {
    text-align: center;
}

.footer .logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.footer .logo img {
    height: 86.25px;
}

.footer .logo h3 {
    margin: 0;
    margin-left: 11.25px;
    font-family: 'Montserrat Alternates';
    font-size: 36px;
    color: var(--main-color);
    text-shadow: 1px 1px 1px black;
}

.footer .copyright {
    margin-top: 48.75px;
    font-family: 'Geograph';
    font-size: 16.5px;
    color: white;
}

.footer .col-2, .footer .col-3, .footer .col-4 {
    font-family: 'Geograph';
    font-size: 18.75px;
    color: white;
}

.footer .title {
    font-weight: 700;
}

.footer ul {
    margin: 0px;
    margin-top: 22.5px;
    padding-inline-start: 20px;
}

.footer ul li {
    margin: 0px;
    margin-top: 18.75px;
}

.footer p {
    margin: 0px;
    margin-top: 18.75px;
    max-width: 266.25px;
    text-align: justify;
}

.footer .footer-link {
    color: white;
    text-decoration: none;
    transition: all .3s;
}

.footer .footer-link:hover {
    color: var(--main-color);
}

.footer .mt-18{
    margin-top: 18.75px;
}

.footer .follow {
    display: flex;
    flex-direction: column;
}

.footer .social-networks {
    margin-top: 18.75px;
    display: inline-flex;
    align-items: center;
}

.footer .instagram {
    margin-right: 11.25px;
    width: 26.25px;
    height: 26.25px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-image: url(../img/instagram.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.footer .footer-link:hover .instagram {
    filter: invert(70%) sepia(50%) saturate(560%) hue-rotate(355deg) brightness(100%) contrast(98%);
}

.footer .twitter {
    margin-right: 11.25px;
    width: 26.25px;
    height: 26.25px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%);
    background-image: url(../img/twitter.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s;
}

.footer .footer-link:hover .twitter {
    filter: invert(70%) sepia(50%) saturate(560%) hue-rotate(355deg) brightness(100%) contrast(98%);
}

.footer .mt-41 {
    margin-top: 41.25px;
}

/********************************** ELEMENTS **********************************/

/**************** BUTTON ****************/

.button {
    height: 63.75px;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    text-shadow: 1px 1px 1px var(--dark-main-color);
    text-decoration: none;
    transition: all .3s;
}

.button:hover {
    background-color: var(--medium-main-color);
}

.button h4 {
    margin: 0;
    margin-left: 37.5px;
    font-family: 'Geograph';
    text-transform: uppercase;
    font-size: 22.5px;
    color: white;
    text-shadow: 1px 1px 1px var(--dark-main-color);
}

.button .circle-arrow-right {
    margin-left: 11.25px;
    margin-right: 37.5px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(17%) saturate(24%) hue-rotate(357deg) brightness(105%) contrast(106%) drop-shadow(1px 1px 1px var(--dark-main-color));
    background-image: url(../img/circle-arrow-right.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}